
.hero {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: -1;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #088178;
}

.hero button {
    background: none;
    background-size: cover;
    width: 227px;
    height: 49px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
    cursor: pointer;
}
.socket_main{
display: flex;
justify-content: space-between;

}

.socket{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:-4px 4px 8px 0px rgba(1, 1, 2, 0.06);
    margin: 8px 17px 9px 7px;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px;

}

.socket_main:nth-child(1) .socket:nth-child(2) h6{
        background-color: #cdebbc;
}
.socket_main:nth-child(1) .socket:nth-child(3) h6{
        background-color: #d1e8f2;
}

.socket_main:nth-child(2) .socket:nth-child(1) h6{
        background-color: #cdd4f8;
}
.socket_main:nth-child(2) .socket:nth-child(2) h6{
        background-color: #f6dbf6;
}
.socket_main:nth-child(2) .socket:nth-child(3) h6{
        background-color: #fff2e5;
}

.socket h6{
    display: inline-block;
    text-align: center;
    padding: 5px 6px;
    line-height: 1;
    border-radius:4px;
    color: #088178;
    background-color: #fddde4;
    margin:15px 0;
}


.socket img{
    width: 100%;
    margin-bottom: 10px; 
}

.features
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.products{
    text-align: center;
}

.pros-container{

}